wandb
fastai==2.7.12
tensorboardX>=1.6
ffmpeg
ffmpeg-python
yt-dlp
jupyterlab
opencv-python>=4.2.0.32
Pillow
--extra-index-url https://download.pytorch.org/whl/cu113
torch==2.0.0
torchvision==0.15.1
ipywidgets
